@charset 'UTF-8';

@font-face {
    font-family: 'fonte-texto1';
    src: url(../resources/fonts/font-courier-prime.ttf);
}

@font-face {
    font-family: 'fonte-texto2';
    src: url(../resources/fonts/font-open-sans.ttf);
}

*{
    padding: 0;
    margin: 0;
}


body{
    background: black;
}
/* Configurações Nav */

nav{
    background: #222222;
    padding: 30px 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > a, #estilo-opcoes > a{
    font: normal normal 25px 'fonte-texto1';
    text-decoration: none;
    transition: 100ms;
    color: #38b6ff;
    margin: 0px 15px;
    padding: 10px;
}

nav > a:hover, #estilo-opcoes > a:hover{
    text-decoration: underline;
}

nav > a:first-child{
    font: normal bold 30px 'fonte-texto2';
    color: white;
}

nav > a:last-child, #estilo-opcoes > a:last-child{
    color: white;
}

#config-equiv{
    display: none;
}

#config-margin-projetosdesign{
    margin-left: auto;
}

/* Configurações de Estilo das Opções Ocultas de Dispositivo Móvel*/

#estilo-opcoes{
    background: #222222;
    margin-top: 1px;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

#estilo-opcoes >a{
    text-align: center;
    transition: 200ms;
    border: 100px;
    width: 90%;
}

#estilo-opcoes >a:active{
    transform: scale(0.95);
}

#estilo-opcoes >a:hover{
    border-radius: 10000px;
    background: white;
    color: black;
}

#config-display-opcoes-ocultas{
    overflow-y: auto;
    display: none;
    height: 240px;
}

#config-display-opcoes-ocultas::-webkit-scrollbar{
    display: none;
}

.estilo-padrao-subocoes{
    text-align: center;
}

.estilo-padrao-subocoes > a{
    font: normal normal 20px 'fonte-texto1';
    text-decoration: none;
    border-radius: 1000px;
    color: #919191;
}

.estilo-padrao-subocoes > a:hover{
    text-decoration: underline;
}

.estilo-padrao-subocoes > a:active{
    text-decoration: underline;
}

#config-opcoes-curriculo, #config-opcoes-projetos, #config-opcoes-sobre{
    display: none;
}

#config-especifico-sobre{    
    color: white;
}

/* Projeto Portifolio Parte 1 */

#configuracoes-projeto-portfolio-pt1{
    padding: 50px 0px;
    display: flex;
    flex-flow: row nowrap;
}

.estilo-divspt1-padrao{
    height: 400px;
    width: 50%;
}

#estilo-div1-pt1-especifico{
    padding: 0px 0px 0px 20px;
    display: flex;
    width: 60%;
    align-items: center;
    flex-flow: row nowrap;
}

#estilo-div2-pt1-especifico{
    margin-right: 50px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

#estilo-meu-perfil{
    box-shadow: 0px 0px 60px #38b6ff;
    border: 15px solid #005489;
    outline: 5px solid #192E39;
    border-radius: 1000000px;
    width: 350px;
}

#estilos-textos{
    width: 500px;
}

#estilos-textos > h1{
    font: normal bold 35px 'fonte-texto2';
    transition: 200ms;
    color: white;
}

#estilos-textos > p{
    font: normal normal 25px 'arial';
    transition: 200ms;
    color: white;
}

.estilo-palavra-espefecifico{
    color: #38b6ff;
}

.config-icons{
    transition: 100ms;
    width: 50px;
}

.config-icons:hover{
    box-shadow: 0px 0px 10px #38b6ff;
    border-radius: 100%;
}

.config-icons:active{
    transform: scale(0.95);
}

/* Projeto Portifolio Parte 2 */

#configuracoes-projeto-portfolio-pt2{
    background: #2a2d3a;
    padding: 40px 10px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.estilo-titulo-padrao{
    font: normal normal 35px 'fonte-texto2';
    background: #2a2d3a;
    text-align: center;
    color: white;
    padding: 40px 0px 0px 0px;
}

#estilo-div1-pt2-especifico{
    box-shadow: 0px 0px 50px #38b6ff;
    border: 2px solid #192E39;
    background: #005489;
    border-radius: 20px;
    transition: 200ms;
    height: 450px;
    width: 350px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
}

#estilo-meu-perfil2{
    width: 220px;
}

#estilo-div2-pt2-especifico{
    transition: 200ms;
    padding: 0px 20px;
    height: 400px;
    width: 650px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}


#estilo-titulo-especifico{
    background: transparent;
    line-height: normal;
    transition: 200ms;
    text-align: left;
    padding: 0;
}

.estilo-texto-padrao{
    font: normal normal 20px 'arial';
    transition: 200ms;
    color: white;
}