@charset 'UTF-8';

@font-face {
    font-family: 'fonte-texto1';
    src: url(../resources/fonts/font-courier-prime.ttf);
}

@font-face {
    font-family: 'fonte-texto2';
    src: url(../resources/fonts/font-open-sans.ttf);
}

*{
    padding: 0;
    margin: 0;
}


body{
    background: black;
}

/* Configurações Nav */

nav{
    background: #222222;
    padding: 30px 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

nav > a, #estilo-opcoes > a{
    font: normal normal 25px 'fonte-texto1';
    text-decoration: none;
    transition: 100ms;
    color: #38b6ff;
    margin: 0px 15px;
}

nav > a:hover, #estilo-opcoes > a:hover{
    text-decoration: underline;
}

nav > a:first-child{
    font: normal bold 30px 'fonte-texto2';
    color: white;
}

nav > a:last-child, #estilo-opcoes > a:last-child{
    color: white;
}

#config-equiv{
    display: none;
}

#config-margin-projetosdesign{
    margin-left: auto;
}

/* Configurações de Estilo das Opções Ocultas */

#estilo-opcoes{
    background: #222222;
    margin-top: 1px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

#estilo-opcoes >a{
    text-align: center;
    transition: 200ms;
    border: 100px;
    padding: 10px;
    width: 90%;
}

#estilo-opcoes >a:active{
    transform: scale(0.95);
}

#estilo-opcoes >a:hover{
    border-radius: 10000px;
    background: white;
    color: black;
}

#config-display-opcoes-ocultas{
    overflow-y: auto;
    display: none;
    height: 30dvh;
}

#config-display-opcoes-ocultas::-webkit-scrollbar{
    display: none;
}

.estilo-padrao-subocoesde-curriculo{
    text-align: center;
}

.estilo-padrao-subocoesde-curriculo > a{
    font: normal normal 20px 'fonte-texto1';
    text-decoration: none;
    border-radius: 1000px;
    color: #919191;
    padding: 10px;
}

.estilo-padrao-subocoesde-curriculo > a:hover{
    text-decoration: underline;
}

.estilo-padrao-subocoesde-curriculo > a:active{
    text-decoration: underline;
}

#config-opcoes-curriculo{
    display: none;
}