@charset 'UTF-8';

@media screen and (min-width: 1366px) {
}

@media screen and (max-width: 1000px){
    #estilos-texto-pt1 > span > h1{
        font-size: 3.3vw;
    }
    
    #estilos-texto-pt1 > span > p{
        font-size: 2vw;
    }

    #estilos-texto-pt1 > span{
        width: 50px;
        padding: 0;
    }

    #estilo-imagem-pt1{
        width: 10%;
    }

    .config-padrao-pt1{
        padding: 0;
        margin: 0;
        width: 96dvw;
    }

    #estilo-meu-perfil{
        width: 75%;
    }

    #estilo-div2-pt1-especifico{
        margin-right: 20px;
    }
    
    #display-opcoes-ocultas-curriculo > li{
        padding: 12px 22px;
        font-size: 12px;
    }
    
    #display-opcoes-ocultas-projetos > li{
        padding: 12px 8px;
        font-size: 12px;
    }    

    #display-opcoes-ocultas-projetos > li:first-child{
        padding: 10px;
        height: 1px;
        width: 1px;
    }

    #display-opcoes-ocultas-sobre > li{
        padding: 10px 1px;
        font-size: 12px;
    }
    
    #display-opcoes-ocultas-sobre > li:first-child{
        padding: 8px;
    }

}

@media screen and (max-width: 800px){
    nav{
        padding: 25px 15px;
    }

    nav > a{
        font-size: 20px; 
        margin: 0px 5px;
    }

    nav > a:first-child{
        font-size: 25px;
    }

    /*Responsividade parte 1 de Main:  Tela de 800px*/

    #estilo-div1-pt1-especifico{
        padding: 0px 0px 0px 10px;
    }

    #estilos-textos > h1{
        font-size: 24px;
    }
    
    #estilos-textos > p{
        font-size: 16px;
    }

    .config-icons{
        width: 35px;
    }

    #estilo-meu-perfil{
        width: 75%;
    }
    
    .estilo-divspt1-padrao{
        height: 300px;
    }

    /* Configurações de Responsividade Parte 2: Section */
    
    #estilo-div1-pt2-especifico{
        height: 350px;
        width: 350px;
    }

    #estilo-meu-perfil2{
        width: 180px;
    }

    .estilo-titulo-padrao{
        font-size: 30px;
    }

    #estilo-titulo-especifico{
        font-size: 30px;
        line-height: 25px;
    }

    .estilo-texto-padrao{
        font-size: 15px;
    }

    /* Configurações de Responsividade Parte 3: Section */

    #config-titulo-especifico-pt3{
        font-size: 25px;
    }

    .estilo-texto-padrao, #estilo-div1-pt3 > p{
        font-size: 15px;
    }
    
    #configuracoes-projeto-portfolio-pt3{
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
    }

    #estilo-div1-pt5{
        width: auto;
        text-align: center;
        margin-right: 0;
    }

    /* Configurações de Responsividade Parte 7: Section */

    #configuracoes-projeto-portfolio-pt7{
        padding: 0px 0px;
        display: flex;
        flex-flow: column nowrap;
    }

    .config-padrao-divs-pt7{
        background: #2a2d3a;
        height: 400px;
        width: 80%;
    }

    .config-padrao-divs-pt7 > span > h1, .config-padrao-divs-pt7 > span > p{
        text-align: center;
    }
}

@media screen and (max-width: 570px) {

    @keyframes anicacaoOpcoesOcultas {
        from{
            transform: translateY(-1000px);
        }
    }

    @keyframes anicacaoOpcoesOcultas2{
        to{
            transform: translateY(-1000px);
        }
    }

    .config-display-optons{
        display: none;
    }
    #config-equiv{
        display: block;
    }

    #config-sobre{
        display: none;
    }
    
    nav > a:last-child{
        margin: 0;
        font-size: 50px;
        margin-left: auto;
        background: black;
        padding: 10px 25px 0px 25px;
    }

    nav{
        padding: 0px 0px 0px 10px;
    }

    #config-display-opcoes-ocultas{
        animation: anicacaoOpcoesOcultas 500ms 1;
    }

    /*Responsividade part1 de Main:  Tela de 570px*/

    #configuracoes-projeto-portfolio-pt1{
        display: flex;
        align-items: center;
        flex-flow: column-reverse nowrap;
    }

    .estilo-divspt1-padrao, #estilo-div1-pt1-especifico{
        width: 95%;   
    }

    .estilo-divspt1-padrao{
        height: 260px;
    }

    #estilo-div2-pt1-especifico{
        margin-bottom: 40px;
        margin-top: 10px;
    }

    #estilo-meu-perfil{
        width: 230px;
    }

    #estilo-div1-pt1-especifico{
        text-align: center;
        padding: 0px 0px;
    }

    #estilos-textos > h1{
        font-size: 28px;
    }
    
    #estilos-textos > p{
        font-size: 18px;
        padding: 10px;
    }

    .config-icons{
        width: 50px;
    }
    
    #configuracoes-projeto-portfolio-pt1{
        padding: 10px;
    }

    #estilo-div2-pt1-especifico{
        margin-right: 0px;
        justify-content: center;
    }

    /* Configurações de Responsividade Parte 2: Section */

    #configuracoes-projeto-portfolio-pt2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
    }

    #estilo-div1-pt2-especifico{
        margin-top: 20px;
        height: 350px;
        width: 250px;
    }

    #estilo-div2-pt2-especifico{
        text-align: center;
        width: auto;
    }

    #estilo-titulo-especifico{
        text-align: center;
        font-size: 35px;
    }

    .estilo-texto-padrao{
        font-size: 18px;
    }

    #estilo-div2-pt4{
        width: 100%;
    }

    #estilo-div1-pt3{
        width: 100%;
    }

    /* Configurações de Responsividade Parte 7: Section */

    .config-padrao-divs-pt7 > span > h1{
        font-size: 25px;
    }

    .config-padrao-divs-pt7 > span > p{
        font-size: 18px;
    }

    /* Configurações de Responsividade Parte 8: Footer */

    #estilo-nome-titulo{
        width: 90%;
    }
    
    #estilo-nome-titulo > h1{
        font-size: 5.5vw;
    }

    #config-perfil-costas > img{
        width: 250px;
    }

    #config-textos-footer > p{
        font-size: 18px;
    }

}