@charset 'UTF-8';

@media screen and (min-width: 1366px) {
}

@media screen and (max-width: 1000px){
    #estilos-texto-pt1 > span > h1{
        font-size: 3.3vw;
    }
    
    #estilos-texto-pt1 > span > p{
        font-size: 2vw;
    }

    #estilos-texto-pt1 > span{
        width: 50px;
        padding: 0;
    }

    #estilo-imagem-pt1{
        width: 10%;
    }

    .config-padrao-pt1{
        padding: 0;
        margin: 0;
        width: 96dvw;
    }

    #estilo-meu-perfil{
        width: 75%;
    }

    #estilo-div2-pt1-especifico{
        margin-right: 20px;
    }

}

@media screen and (max-width: 775px){
    nav{
        padding: 25px 15px;
    }

    nav > a{
        font-size: 20px; 
        margin: 0px 5px;
    }

    nav > a:first-child{
        font-size: 25px;
    }

    /*Responsividade part1 de Main:  Tela de 775px*/

    #estilo-div1-pt1-especifico{
        padding: 0px 0px 0px 10px;
    }

    #estilos-textos > h1{
        font-size: 24px;
    }
    
    #estilos-textos > p{
        font-size: 16px;
    }

    .config-icons{
        width: 35px;
    }

    #estilo-meu-perfil{
        width: 75%;
    }
    
    .estilo-divspt1-padrao{
        height: 300px;
    }
}

@media screen and (max-width: 550px) {

    @keyframes anicacaoOpcoesOcultas {
        from{
            transform: translateY(-1000px);
        }
    }

    @keyframes anicacaoOpcoesOcultas2{
        to{
            transform: translateY(-1000px);
        }
    }

    .config-display-optons{
        display: none;
    }
    #config-equiv{
        display: block;
    }

    #config-sobre{
        display: none;
    }
    
    nav > a:last-child{
        margin: 0;
        font-size: 50px;
        margin-left: auto;
        background: black;
        padding: 10px 25px 0px 25px;
    }

    nav{
        padding: 0px 0px 0px 10px;
    }

    #config-display-opcoes-ocultas{
        animation: anicacaoOpcoesOcultas 500ms 1;
    }

    /*Responsividade part1 de Main:  Tela de 550px*/

    #configuracoes-projeto-portfolio-pt1{
        display: flex;
        align-items: center;
        flex-flow: column-reverse nowrap;
    }

    .estilo-divspt1-padrao, #estilo-div1-pt1-especifico{
        width: 95%;   
    }

    .estilo-divspt1-padrao{
        height: 260px;
    }

    #estilo-div2-pt1-especifico{
        margin-bottom: 40px;
        margin-top: 10px;
    }

    #estilo-meu-perfil{
        width: 230px;
    }

    #estilo-div1-pt1-especifico{
        text-align: center;
        padding: 0px 0px;
    }

    #estilos-textos > h1{
        font-size: 28px;
    }
    
    #estilos-textos > p{
        font-size: 18px;
        padding: 10px;
    }

    .config-icons{
        width: 50px;
    }
    
    #configuracoes-projeto-portfolio-pt1{
        padding: 10px;
    }

    #estilo-div2-pt1-especifico{
        margin-right: 0px;
        justify-content: center;
    }
}